.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
    
    &.show {
        opacity: 1 !important;
    }
}

.modal {
    &.subscribe-modal {

        display: flex !important;
        justify-content: center !important;

        .modal-dialog {
            width: 300px;
            height: 313px;

            .modal-content {
                border-radius: 30px;
                
                button {
                    &.btn {
                        width: 200px;
                    }

                    &:last-child {
                        font-family: "PoppinsRegular";
                    }
                }
            }
        }

    }
}

.action-sheet-container {

    &.pay-to-watch-action-sheet {

        .action-sheet-content {
            .content {
                border-radius: 50px 50px 0px 0px;

                .body {
                    padding-top: 10px;

                    h1 {
                        font-weight: 700;
                        font-size: 48px;
                        color: #440B7D;
                        font-family: "PoppinsBold";
                        margin-bottom: 1rem;
                    }

                    p {
                        color: #440B7D;
                        font-size: 20px;
                        margin-bottom: 2.5rem;
                        margin-top: 1.5rem !important;
                        
                    }

                }

            }
        }

    }

    &.select-subscription-plan-action-sheet {

        .action-sheet-content {
            .content {
                border-radius: 50px 50px 0px 0px;

                .header {
                    padding-top: 5px;
                    padding-bottom: 8px;
                    padding-right: 30px;
                    padding-left: 25px;

                    .header-md {
                        font-size: 24px;
                        margin-top: 24px;
                    }
                }

                .body {
                    background: rgba(52, 20, 84, 0.05);
                    border-radius: 50px 50px 0px 0px;

                    .form-check-input {
                        width: 30px;
                        height: 30px;
                        background: #D9D9D9;
                        border: 2px solid #341454;
                    }
                   
                    .plan-list {
                        padding-left: 0.325rem;
                    }
                }
            }
        }

        table {
            tr {

                td {
                    color: #341454;
                    font-family: "PoppinsSemiBold";
                    font-size: 20px;
                    padding: 0.45rem 0.5rem;

                    &:nth-child(2) {
                        width: 70px;
                        text-align: center;
                    }

                    &:last-child {
                        align-items: end;

                        > div {
                            display: flex;
                            justify-content: flex-end;
                        }
                    }

                    &:first-child {
                        width: 148px;
                    }
                }


            }

        }

    }

    &.select-channel-action-sheet {

        .channel-list {

            > div {
                position: relative;

                > div {

                    &.form-check {
                        position: absolute;
                        right: 0;
                    }

                    p {
                        margin-left: 32px;
                        margin-right: 12px;
                        max-width: 60%;
                        min-width: 70%;
                        width: 60%;
                        white-space: nowrap;

                        @media screen and (max-width: 400px) {
                            max-width: 20% !important;
                            min-width: 20% !important;
                            width: 10% !important;
                            white-space: normal !important;
                        }

                    }

                    h4 {
                        width: 100px;
                        min-width: 40%;
                        max-width: 40%;
                    }
                }
            }

        }

    }

}

.go-live-container, .view-live-container {

    * {
        font-style: normal;
    }

    .follow-caster-btn {
        position: absolute;
        background-color: transparent;
        border: none !important;
        right: 15px;
        bottom: 115px;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 2;

        svg {
            margin-top: -0.725rem;
        }
        
        img {
            border: 2px solid #fff;
            box-sizing: content-box;
        }
    }

    .started-live-overlay {
        display: flex;

        .live-interactions {
            padding: 10px 16px 47px;
            position: relative;

            .share-btn-wrapper {
                margin-right: -0.5rem;
            }

            .has-show-more {
                width: 78%;
            }

            .description {
                color: black;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis !important;
                overflow: hidden;
                white-space: normal;
                line-height: 18px;
                max-height: 1.8rem;
                width: 78%;
                transition: max-height 250ms ease-in-out;

                &.clamped {
                    -webkit-line-clamp: 2;
                }

                p {
                    line-height: 18px;
                }

                + .see-more-btn {
                    display: none;
                    position: absolute;
                    top: 14px;
                    right: 14px;

                    @media screen and (max-width: 414px) {
                        right: 5px;
                    }

                    @media screen and (max-width: 375px) {
                        right: 0px;
                    }

                    @media screen and (max-width: 320px) {
                        right: -12px;
                    }
                    
                    span {
                        margin-right: 8px;
                        font-weight: 400;
                    }

                    
                    + .show-less-btn {
                        display: none !important;
                        position: absolute;
                        top: 100%;
                        right: 0;
                    }

                }
                    
                &.expanded {
                    max-height: 6.6rem;
                    -webkit-line-clamp: unset;
                    overflow: scroll;
                    line-height: 18px;
                    width: 78%;

                    + .see-more-btn {
                        display: none !important;

                        + .show-less-btn {
                            display: block !important;
                        }

                    }
                    
                }
                
            }

            > * {
                z-index: 2;
                position: relative;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, #000000 100%);
                z-index: 1;
                height: 80%;
                width: 100%;
                display: block;
                filter: blur(50px);
            }

            input {
                background: rgba(0, 0, 0, 0.8);
                border-radius: 10px;
                border-color:rgba(0, 0, 0, 0.8); 
                height: 60px;
                border: none;
                width: 80%;
                padding-left: 26px;
                color: #fff;

                &::-webkit-input-placeholder { /* Edge */
                    color: rgba(255, 255, 255, 0.4);
                    font-size: 20px;
                }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: rgba(255, 255, 255, 0.4);
                    font-size: 20px;
                }
                  
                &::placeholder {
                    color: rgba(255, 255, 255, 0.4);
                    font-size: 20px;
                }
                
                &:focus-visible {
                    outline: 0 !important;
                }
            }

            .comments {
                height: calc(0.3025 * 100vh);
                overflow-y: scroll;
                position: relative;

                > div:not(:last-child) {
                    margin-bottom: 0.625rem;
                }

            }

            .profile-img {
                height: 50px;
                width: 50px;
                margin-right: 0.325rem;

                + div {
                    h4 {
                        margin-bottom: 0.125rem;
                    }
                }
            }

        } 

        .live-indicator {
            span {
                margin-right: 0.3925rem!important;
                font-weight: 600;
            }
        }

        .live-metrics {
            height: 29px;
            display: flex;
            align-items: center;
            width: 90px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.8);
            padding-left: 8px;
            padding-right: 8px;

            &.viewer {
                height: fit-content !important;
                width: fit-content !important;
                background: rgba(255, 255, 255, 0.1);
                padding: 9px 15px 11px 13px;
                height: 60px;

                + .btn {
                    margin-right: -0.325rem;
                }

                button {

                    &.subscribe-btn {
                        color: #341454;
                        background-color: #fff !important;
                        border-radius: 5px;
                        width: 72px;
                        height: 20.57px;
                        font-size: 10px;
                        font-weight: 500 !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 20px;
                        margin-top: -5px;
                    }

                }

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 10px;
                }

                p {
                    color: #fff;
                }

                h4 {
                    color: #fff;
                    margin-bottom: 10px;
                }
            }

            span {
                color: #fff !important;
                font-size: 10px;
            }
        }
    }

    .overlay {
        background-color: transparent;
        height: 100%;
        width: 100%;
        grid-area: 1/1;
        z-index: 2;
    }

    .start-live-overlay {
        display: flex;
        background-color: transparent;
        height: 100%;
        width: 100%;
    }

}

.infinite-scroll-component  {
    scroll-snap-type: y mandatory;
    position: relative;
    height: 100vh !important;
    background-color: #000000;
    overflow: scroll;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important; 

    &::-webkit-scrollbar {
        display: none !important;
    }

    > div.view-live-container {
        position: relative;
        scroll-snap-stop: always;
        scroll-snap-align: start;
        width: 100%;
        height: 100%;
    }

}